body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    line-height: 1.6;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    background: #0d6efd;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

nav {
    background: #083c9f;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

.logo {
    width: 280px;
}

header .logo {
    width: 280px;
}


footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

button {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #084298;
}

<style>
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}
</style>
